* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5ab9ea;
}

body * {
	border-radius: 12px;
}

main {
	margin: 30px;
	background-color: #84ceeb;
	width: min(calc(100vw - 60px), 450px);
	height: calc(100vh - 60px);
	box-shadow: 1px 1px 10px 0.1px gray;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
main::-webkit-scrollbar {
	display: none;
}

.header {
	height: 3rem;
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 2rem 0;
	align-items: center;
}
.header > button {
	padding: 0.7em;
	background-color: #c1c8e4;
	border: 2px solid gray;

	font-size: 15px;
}
.header > .mainText {
	font-size: 30px;
	font-weight: bold;
	flex-grow: 1;
	text-align: center;
}
.nextBtn:hover {
	background-color: hsl(200, 39%, 83%);
}

.timer {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	box-shadow: 1px 1px 10px 0.1px gray;
	background-color: #c1c8e4;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.timer2 {
	width: 250px;
	height: 250px;
	background-color: #5ab9ea;
	border-radius: 50%;
	position: absolute;
	border: 7px solid #84ceeb;

	display: flex;
	justify-content: center;
	align-items: center;
}
.timerDisplay {
	font-size: 80px;
	color: #c1c8e4;
	font-weight: bold;
}
.stop,
.next {
	position: absolute;
	bottom: 2.5rem;
	border: none;
	background-color: transparent;
	font-size: 2.5rem;
	color: hsl(200, 77%, 50%);
}
.stop {
	display: none;
}
.next {
	display: block;
}
.stop:hover,
.next:hover {
	color: hsl(200, 77%, 40%);
}
